@page "/"

<PageTitle>Home</PageTitle>

<WelcomeComponent></WelcomeComponent>

<p>
    This is a Blazor Web App running on .NET 8 with the Interactive render mode set to "WebAssembly" and the Interactivity location set to "Global".
</p>

<p>
    A WelcomeMessage value is set in appsettings.json on the server.
</p>

<p>
    How can we simply show it here in a Razor page?
</p>


@code {

}
