@page "/"

<PageTitle>Home</PageTitle>

<h1>To layout or not layout</h1>

<p>
	In this puzzle we're going to simplify a pretty common request that folks have when they're building websites with Blazor in this scenario we want to take a page that we already have rendered with html and has all kinds of formatting and navigation around it provided by our layout, in this case the weather page. We want to make a version of the weather page that's available as a report, that is it doesn't have any of the layout components around it.
</p>

<p>
	You can find the report in the menu on the left side of the screen and it's also linked from the weather page just underneath the header. How should we update the weather the report page so that it doesn't have the navigation elements on the top and left of the screen?
</p>

<p>
	Previously with razor pages or mvc we could just specify that the layout of the cshtml file was an empty string or null and it would forget the layout. What's the technique that we need to use with Blazor?
</p>