@using Microsoft.AspNetCore.Components.Forms

<tfoot>
	 <tr class="@Style?.FooterClass">
		<td colspan="@(Style?.NumColumns ?? 1)">
			Is Darkmode? <InputCheckbox @bind-Value="Style.IsDarkMode"/>
		</td>
	</tr> 
</tfoot>

@code {

	[CascadingParameter(Name="FooterStyle")] internal FooterStyle Style { get; set; }
}