@page "/"

<PageTitle>Home</PageTitle>

<h1>Weather or Not!</h1>

<p>
    This is a .NET 8 Blazor Web App with the Interactive render mode set to "Server" and the Interactivity location set to "Global" with sample pages.
</p>
<p>
    While Weather.razor does indeed demonstrate Streaming Rendering, it doesn't quite show off the value of this feature. We want to make it a little more impressive.
</p>
<p>
    We have increased the number of records retrieved to 5000.
</p>
<p>
    Even though the StreamRendering attribute lets us view the page immediately, is there any way we can tighten up the UI so it's more real-world than a table with 5000 records?
</p>
<p>
    NOTE: We do not condone showing 5000 records or more to the user. This is a demo.
</p>
