@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>
    This is a .NET 8 Blazor Web App with Interactive render mode set to server, and the Interactivity location set to "per page/component."
</p>

<p>
    Put a breakpoint on line 45 of FormDemo.razor. 
</p>

<p>
    Navigate to the Form Demo page, fill in the form, and submit it.
</p>

<p>
    Why is Message empty the second time the breakpoint is hit?
</p>