@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>This is a .NET 8 Blazor Web App with the Interactive render mode set to "WebAssembly" and the Interactivity location set to "Global," however that doesn't matter. This puzzle will be the same for any kind of Blazor Web Apps
</p>

<p>
    Blazor Web Apps do not allow you to use the NotFound section in Routes.razor to handle 404 errors. How can we implement a 404 page in a Blazor Web App?
</p>
